<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://watchinfo-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c5e3db12-9c48-4e72-9840-6dc393c09268/resourceGroups/learn-a48a5a6c-ada2-4b10-b70f-86c5605859a9/providers/Microsoft.Web/sites/WatchInfo-01</ResourceId>
    <UserName>$WatchInfo-01</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://watchinfo-01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>